body {
    font: 15px Arial, sans-serif
}

.navbar {
    background-color:  #f7dc6f;
}

.quem-somos {
    background-color: lightgray;
}

.margin {
    padding-top: 50px;
    padding-bottom: 25px;
}

.parceiros {
    background-color: lightblue;
}

.servicos {
    background-color: lightpink;
}

.bg-footer {
    color: gray;
    background-color: aquamarine;
}